{% extends '_base.html' %}

{% block page_title %}
    SignUp
{% endblock %}

{% block content %}
    <h1>Sign Up</h1>
    <div>
        <form action="{% url 'account_signup' %}" method="POST">
            {% csrf_token %}
            {% if form.errors %}
                <div class="error">
                    {{ form.errors }}
                </div>
            {% endif %}
            <div class="woocommerce-info">"Don't you have an account?" <a href="{% url 'account_login' %}">Click here to
                Login</a>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Username or email *</label>
                        <input type="text" class="form-control" name="email" placeholder="Username or email">
                    </div>
                    <div class="form-group">
                        <label>Username *</label>
                        <input type="text" class="form-control" name="username" placeholder="Username or email">
                    </div>
                    <div class="form-group">
                        <label>Password 1 *</label>
                        <input type="password" class="form-control" name="password1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label>Confirm Password *</label>
                        <input type="password" class="form-control" name="password2" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="th-btn">SignUp</button>
                    </div>
                </div>
            </div>
        </form>

        {% include 'footer.html' %}
    </div>

    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                  style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>
{% endblock %}
