{% extends '_base.html' %}
{% load static %}
{% load humanize %}

{% block page_title %}
{% endblock %}

{% block content %}
    <div id="smooth-wrapper">
        <div id="smooth-content"><!--==============================
    Breadcumb
============================== -->
            <div class="breadcumb-wrapper " data-bg-src="{% static 'img/bg/2148461707.jpg' %}">
                <div class="container">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Shop</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Shop</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--==============================
Product Area
==============================-->
            <section class="space-top space-extra-bottom">
                <div class="container">
                    <div class="th-sort-bar">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-md-auto">
                                <form class="woocommerce-ordering" method="get" id="sorting-form">
                                    <select name="orderby" class="orderby" aria-label="Shop order" id="sorting-select">
                                        <option value="menu_order" selected="selected">Default Sorting</option>
                                        <option value="newest">Sort by newest</option>
                                        <option value="date">Sort by latest</option>
                                        <option value="price">Sort by price: low to high</option>
                                        <option value="price-desc">Sort by price: high to low</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="product-list">
                        <div class="row gy-40">
                            {% for item in page_obj %}
                                <div class="col-xl-3 col-lg-4 col-sm-6">
                                    <div class="th-product product-grid">
                                        <div class="product-img transparent-img">
                                            <img src="{{ item.image.url }}" alt="Product Image">
                                            <span class="product-tag">-25%</span>
                                            <div class="actions">
                                                <a href="#" class="icon-btn popup-content quick-view"
                                                   data-model-name="{{ item.model_name }}"
                                                   data-product-id="{{ item.id }}">
                                                    <i class="far fa-eye"></i>
                                                </a>
                                                <form action="{% url 'cart:cart_add' item.model_name item.id %}"
                                                      method="POST" class="icon-btn-form">
                                                    {% csrf_token %}
                                                    <button type="submit" class="icon-btn">
                                                        <i class="far fa-cart-plus"></i>
                                                    </button>
                                                </form>
                                                <a href="{% url 'wishlist' %}" class="icon-btn"><i
                                                        class="far fa-heart"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 4">
                                        <span>Rated <strong class="rating">4.00</strong> out of 5 based on <span
                                                class="rating">1</span> customer rating</span>
                                            </div>
                                            <h3 class="product-title"><a
                                                    href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
                                            <span class="price">{{ item.price|intcomma }}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="th-pagination text-center pt-50">
                        <ul>
                            {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}"><i
                                        class="far fa-arrow-left"></i></a></li>
                            {% endif %}
                            <li><a href="#">{{ page_obj.number }}</a></li>
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}"><i
                                        class="far fa-arrow-right"></i></a></li>
                            {% endif %}
                        </ul>

                        <div class="col-md">
                            <p class="woocommerce-result-count">
                                Showing {{ page_obj.start_index }}–{{ page_obj.end_index }}
                                of {{ total_count }} results
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            {% include 'footer.html' %}

            <!--********************************
			Code End  Here
	******************************** -->

            <!-- Smooth scroller -->
        </div>
    </div>


    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                  style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>
{% endblock %}