{% extends '_base.html' %}
{% load static %}

{% block page_title %}
    Blog Page
{% endblock %}

{% block content %}
    <body>
    <div id="smooth-wrapper">
        <div id="smooth-content"><!--==============================
    Breadcumb
============================== -->
            <div class="breadcumb-wrapper " data-bg-src="{% static 'img/bg/2148461707.jpg' %}">
                <div class="container">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Blog Standard</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Blog Standard</li>
                        </ul>
                    </div>
                </div>
            </div><!--==============================
Blog Area
==============================-->
            <section class="th-blog-wrapper space-top space-extra-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xxl-8 col-lg-7">
                            <div class="th-blog blog-single has-post-thumbnail">
                                <div class="blog-img">
                                    <a href="{% url 'blog_detail' %}"><img src="{% static 'img/bg/pasta.jpg' %}"
                                                                     alt="Blog Image"></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <a class="author" href="{% url 'blog' %}">APRIL 16, 2024</a>
                                        <a href="{% url 'blog' %}">RECHIPES</a>
                                        <a href="{% url 'blog_detail' %}">03 Comments</a>
                                    </div>
                                    <h2 class="blog-title"><a href="{% url 'blog_detail' %}">The Fresh Ingredients That Define
                                        Our Dishes</a>
                                    </h2>
                                    <p class="blog-text">Enjoy your quick meal in a casual and friendly setting. Whether
                                        you're grabbing a bite on your lunch break or stopping by for a snack, our
                                        welcoming atmosphere makes every visit enjoyable. We believe that great food
                                        shouldn't break the bank. That's why we offer affordable options.</p>
                                    <a href="{% url 'blog_detail' %}" class="th-btn btn-sm style-border">Read More</a>
                                </div>
                            </div>

                            <div class="th-blog blog-single has-post-thumbnail">
                                <div class="blog-img th-slider" data-slider-options='{"effect":"fade"}'>
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="{% url 'blog_detail' %}"><img src="{% static 'img/bg/burger_banner.jpg' %}"
                                                                             alt="Blog Image"></a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="{% url 'blog_detail' %}"><img src="{% static 'img/bg/pizza_banner.jpg' %}"
                                                                             alt="Blog Image"></a>
                                        </div>
                                    </div>
                                    <button class="slider-arrow slider-prev"><span class="icon"></span></button>
                                    <button class="slider-arrow slider-next"><span class="icon"></span></button>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <a class="author" href="{% url 'blog' %}">APRIL 16, 2024</a>
                                        <a href="{% url 'blog' %}">RECHIPES</a>
                                        <a href="{% url 'blog_detail' %}">03 Comments</a>
                                    </div>
                                    <h2 class="blog-title"><a href="{% url 'blog_detail' %}">Stories Behind Our Most Loved
                                        Recipes Foodies</a>
                                    </h2>
                                    <p class="blog-text">Enjoy your quick meal in a casual and friendly setting. Whether
                                        you're grabbing a bite on your lunch break or stopping by for a snack, our
                                        welcoming atmosphere makes every visit enjoyable. We believe that great food
                                        shouldn't break the bank. That's why we offer affordable options.</p>
                                    <a href="{% url 'blog_detail' %}" class="th-btn btn-sm style-border">Read More</a>
                                </div>
                            </div>

                            <div class="th-blog blog-single">
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <a class="author" href="{% url 'blog' %}">APRIL 16, 2024</a>
                                        <a href="{% url 'blog' %}">RECHIPES</a>
                                        <a href="{% url 'blog_detail' %}">03 Comments</a>
                                    </div>
                                    <h2 class="blog-title"><a href="{% url 'blog_detail' %}">Classy Sauces To Make Meat Melt
                                        In Your Mouth</a>
                                    </h2>
                                    <p class="blog-text">Enjoy your quick meal in a casual and friendly setting. Whether
                                        you're grabbing a bite on your lunch break or stopping by for a snack, our
                                        welcoming atmosphere makes every visit enjoyable. We believe that great food
                                        shouldn't break the bank. That's why we offer affordable options.</p>
                                    <a href="{% url 'blog_detail' %}" class="th-btn btn-sm style-border">Read More</a>
                                </div>
                            </div>

                            <div class="th-blog blog-single has-post-thumbnail">
                                <div class="blog-img" data-overlay="title" data-opacity="4">
                                    <a href="{% url 'blog_detail' %}"><img src="{% static 'img/hero/b-s.jpg' %}"
                                                                     alt="Blog Image"></a>
                                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"
                                       class="play-btn popup-video"><i class="fas fa-play"></i></a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <a class="author" href="{% url 'blog' %}">APRIL 16, 2024</a>
                                        <a href="{% url 'blog' %}">RECHIPES</a>
                                        <a href="{% url 'blog_detail' %}">03 Comments</a>
                                    </div>
                                    <h2 class="blog-title"><a href="{% url 'blog_detail' %}">Only Pure Ingredients Can
                                        Increase Food Taste</a>
                                    </h2>
                                    <p class="blog-text">Enjoy your quick meal in a casual and friendly setting. Whether
                                        you're grabbing a bite on your lunch break or stopping by for a snack, our
                                        welcoming atmosphere makes every visit enjoyable. We believe that great food
                                        shouldn't break the bank. That's why we offer affordable options.</p>
                                    <a href="{% url 'blog_detail' %}" class="th-btn btn-sm style-border">Read More</a>
                                </div>
                            </div>
                            <div class="th-blog blog-single has-post-thumbnail">
                                <div class="blog-audio">
                                    <iframe title="Tell Me U Luv Me (with Trippie Redd) by Juice WRLD"
                                            src="https://w.soundcloud.com/player/?visual=true&amp;url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F830279092&amp;show_artwork=true&amp;maxwidth=751&amp;maxheight=1000&amp;dnt=1"></iframe>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <a class="author" href="{% url 'blog' %}">APRIL 16, 2024</a>
                                        <a href="{% url 'blog' %}">RECHIPES</a>
                                        <a href="{% url 'blog_detail' %}">03 Comments</a>
                                    </div>
                                    <h2 class="blog-title"><a href="{% url 'blog_detail' %}">What Types of Massala Is The Best
                                        in Cooking</a>
                                    </h2>
                                    <p class="blog-text">Enjoy your quick meal in a casual and friendly setting. Whether
                                        you're grabbing a bite on your lunch break or stopping by for a snack, our
                                        welcoming atmosphere makes every visit enjoyable. We believe that great food
                                        shouldn't break the bank. That's why we offer affordable options.</p>
                                    <a href="{% url 'blog_detail' %}" class="th-btn btn-sm style-border">Read More</a>
                                </div>
                            </div>

                            <div class="th-blog blog-single">
                                <div class="blog-content">
                                    <div class="blog-meta">
                                        <a class="author" href="blog.html">APRIL 16, 2024</a>
                                        <a href="blog.html">RECHIPES</a>
                                        <a href="blog-details.html">03 Comments</a>
                                    </div>
                                    <h2 class="blog-title"><a href="blog-details.html">Good Cook Always Use These Types
                                        of Tricks</a>
                                    </h2>
                                    <p class="blog-text">Enjoy your quick meal in a casual and friendly setting. Whether
                                        you're grabbing a bite on your lunch break or stopping by for a snack, our
                                        welcoming atmosphere makes every visit enjoyable. We believe that great food
                                        shouldn't break the bank. That's why we offer affordable options.</p>
                                    <a href="blog-details.html" class="th-btn btn-sm style-border">Read More</a>
                                </div>
                            </div>
                        <div class="col-xxl-4 col-lg-5">
                            <aside class="sidebar-area">
                                <div class="widget widget_categories  ">
                                    <h3 class="widget_title">Categories</h3>
                                    <ul>
                                        <li>
                                            <a href="{% url 'sandwich_list' %}">Sandwich</a>
                                            <span>({{ sandwich_count }})</span>
                                        </li>
                                        <li>
                                            <a href="{% url 'pizza_list' %}">Pizza</a>
                                            <span>({{ pizza_count }})</span>
                                        </li>
                                        <li>
                                            <a href="{% url 'shop' %}">All Food</a>
                                            <span>({{ all_food_count }})</span>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </section>

            {% include 'footer.html' %}

            <!--********************************
			Code End  Here 
	******************************** -->

            <!-- Smooth scroller -->
        </div>
    </div>


    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                  style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>
    </body>
{% endblock %}