{% extends '_base.html' %}
{% load static %}

{% block page_title %}
    Gallery
{% endblock %}

{% block content %}
    <body>
    <div id="smooth-wrapper">
        <div id="smooth-content"><!--==============================
    Breadcumb
============================== -->
            <div class="breadcumb-wrapper " data-bg-src="{% static 'img/bg/2148461707.jpg' %}">
                <div class="container">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Gallery</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li>Gallery</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--==============================
Gallery Area  
==============================-->
            <div class="space">
                <div class="container z-index-common">
                    <div class="row gy-30 filter-active">
                        <div class="col-xxl-auto col-md-6 filter-item">
                            <div class="gallery-card">
                                <div class="box-img">
                                    <img src="{% static 'img/gallery/galley_3_1 (1) (1).jpg' %}" alt="gallery image">
                                    <a href="{% static 'img/gallery/galley_3_1 (1) (1).jpg' %}" class="box-btn popup-image"><i class="fat fa-plus"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-auto col-md-6 filter-item">
                            <div class="gallery-card">
                                <div class="box-img">
                                    <img src="{% static 'img/gallery/galley_3_1 (2) (1).jpg' %}" alt="gallery image">
                                    <a href="{% static 'img/gallery/galley_3_1 (2) (1).jpg' %}" class="box-btn popup-image"><i class="fat fa-plus"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-auto col-md-6 filter-item">
                            <div class="gallery-card">
                                <div class="box-img">
                                    <img src="{% static 'img/gallery/galley_3_1 (3) (1).jpg' %}" alt="gallery image">
                                    <a href="{% static 'img/gallery/galley_3_1 (3) (1).jpg' %}" class="box-btn popup-image"><i class="fat fa-plus"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-auto col-md-6 filter-item">
                            <div class="gallery-card">
                                <div class="box-img">
                                    <img src="{% static 'img/gallery/galley_3_1 (4) (1).jpg' %}" alt="gallery image">
                                    <a href="{% static 'img/gallery/galley_3_1 (4) (1).jpg' %}" class="box-btn popup-image"><i class="fat fa-plus"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-auto col-md-6 filter-item">
                            <div class="gallery-card">
                                <div class="box-img">
                                    <img src="{% static 'img/gallery/galley_3_1 (5) (1).jpg' %}" alt="gallery image">
                                    <a href="{% static 'img/gallery/galley_3_1 (5) (1).jpg' %}" class="box-btn popup-image"><i class="fat fa-plus"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-auto col-md-6 filter-item">
                            <div class="gallery-card">
                                <div class="box-img">
                                    <img src="{% static 'img/gallery/galley_3_1 (6) (1).jpg' %}" alt="gallery image">
                                    <a href="{% static 'img/gallery/galley_3_1 (6) (1).jpg' %}" class="box-btn popup-image"><i class="fat fa-plus"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-auto col-md-6 filter-item">
                            <div class="gallery-card">
                                <div class="box-img">
                                    <img src="{% static 'img/gallery/galley_3_1 (7) (1).jpg' %}" alt="gallery image">
                                    <a href="{% static 'img/gallery/galley_3_1 (7) (1).jpg' %}" class="box-btn popup-image"><i class="fat fa-plus"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-auto col-md-6 filter-item">
                            <div class="gallery-card">
                                <div class="box-img">
                                    <img src="{% static 'img/gallery/galley_3_1 (8) (1).jpg' %}" alt="gallery image">
                                    <a href="{% static 'img/gallery/galley_3_1 (8) (1).jpg' %}" class="box-btn popup-image"><i class="fat fa-plus"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-auto col-md-6 filter-item">
                            <div class="gallery-card">
                                <div class="box-img">
                                    <img src="{% static 'img/gallery/galley_3_1 (9) (1).jpg' %}" alt="gallery image">
                                    <a href="{% static 'img/gallery/galley_3_1 (9) (1).jpg' %}" class="box-btn popup-image"><i class="fat fa-plus"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xxl-auto col-md-6 filter-item">
                            <div class="gallery-card">
                                <div class="box-img">
                                    <img src="{% static 'img/gallery/galley_3_1 (10) (1).jpg' %}" alt="gallery image">
                                    <a href="{% static 'img/gallery/galley_3_1 (10) (1).jpg' %}" class="box-btn popup-image"><i class="fat fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xxl-auto col-md-6 filter-item">
                            <div class="gallery-card">
                                <div class="box-img">
                                    <img src="{% static 'img/gallery/galley_3_1 (11) (1).jpg' %}" alt="gallery image">
                                    <a href="{% static 'img/gallery/galley_3_1 (11) (1).jpg' %}" class="box-btn popup-image"><i class="fat fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xxl-auto col-md-6 filter-item">
                            <div class="gallery-card">
                                <div class="box-img">
                                    <img src="{% static 'img/gallery/galley_3_1 (12) (1).jpg' %}" alt="gallery image">
                                    <a href="{% static 'img/gallery/galley_3_1 (12) (1).jpg' %}" class="box-btn popup-image"><i class="fat fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xxl-auto col-md-6 filter-item">
                            <div class="gallery-card">
                                <div class="box-img">
                                    <img src="{% static 'img/gallery/galley_3_1 (13) (1).jpg' %}" alt="gallery image">
                                    <a href="{% static 'img/gallery/galley_3_1 (13) (1).jpg' %}" class="box-btn popup-image"><i class="fat fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xxl-auto col-md-6 filter-item">
                            <div class="gallery-card">
                                <div class="box-img">
                                    <img src="{% static 'img/gallery/galley_3_1 (14) (1).jpg' %}" alt="gallery image">
                                    <a href="{% static 'img/gallery/galley_3_1 (14) (1).jpg' %}" class="box-btn popup-image"><i class="fat fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xxl-auto col-md-6 filter-item">
                            <div class="gallery-card">
                                <div class="box-img">
                                    <img src="{% static 'img/gallery/galley_3_1 (15) (1).jpg' %}" alt="gallery image">
                                    <a href="{% static 'img/gallery/galley_3_1 (15) (1).jpg' %}" class="box-btn popup-image"><i class="fat fa-plus"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
            {% include 'footer.html' %}

            <!--********************************
			Code End  Here 
	******************************** -->

            <!-- Smooth scroller -->
        </div>
    </div>



    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>
</body>
{% endblock %}