{% extends '_base.html' %}

{% block page_title %}
    Service
{% endblock %}

{% block content %}
    <body>
    <div id="smooth-wrapper">
        <div id="smooth-content"><!--==============================
    Breadcumb
============================== -->
            <div class="breadcumb-wrapper " data-bg-src="assets/img/bg/breadcumb-bg.jpg">
                <div class="container">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title">Our Services</h1>
                        <ul class="breadcumb-menu">
                            <li><a href="home-restaurant-shop.html">Home</a></li>
                            <li>Our Services</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--==============================
Feature Area  
==============================-->
            <section class="space">
                <div class="container z-index-common">
                    <div class="row justify-content-center">
                        <div class="col-xxl-7 col-xl-8 col-lg-7 col-md-9">
                            <div class="title-area text-center">
                                <span class="sub-title3"><img src="assets/img/theme-img/title_icon2.svg" alt="Icon">Our Restaurant Services</span>
                                <h2 class="sec-title title-ani">Restar Dedication to Exceptional Our Service</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row gy-4">
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="feature-box">
                                <div class="box-shape">
                                    <img src="assets/img/shape/flower_7.png" alt="shape">
                                </div>
                                <div class="box-icon">
                                    <img src="assets/img/icon/feature_box_1.svg" alt="icon">
                                </div>
                                <div class="media-body">
                                    <h3 class="box-title text-ani"><a href="service-details.html">Discount Voucher</a>
                                    </h3>
                                    <div class="text-ani">
                                        <p class="box-text">Indulge in a gourmet journey with a menu Our chefs use the
                                            finest ingredients.</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="feature-box">
                                <div class="box-shape">
                                    <img src="assets/img/shape/flower_7.png" alt="shape">
                                </div>
                                <div class="box-icon">
                                    <img src="assets/img/icon/feature_box_2.svg" alt="icon">
                                </div>
                                <div class="media-body">
                                    <h3 class="box-title text-ani"><a href="service-details.html">Original Recipes</a>
                                    </h3>
                                    <div class="text-ani">
                                        <p class="box-text">Indulge in a gourmet journey with a menu Our chefs use the
                                            finest ingredients.</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="feature-box">
                                <div class="box-shape">
                                    <img src="assets/img/shape/flower_7.png" alt="shape">
                                </div>
                                <div class="box-icon">
                                    <img src="assets/img/icon/feature_box_3.svg" alt="icon">
                                </div>
                                <div class="media-body">
                                    <h3 class="box-title text-ani"><a href="service-details.html">100% Fresh Foods</a>
                                    </h3>
                                    <div class="text-ani">
                                        <p class="box-text">Indulge in a gourmet journey with a menu Our chefs use the
                                            finest ingredients.</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="feature-box">
                                <div class="box-shape">
                                    <img src="assets/img/shape/flower_7.png" alt="shape">
                                </div>
                                <div class="box-icon">
                                    <img src="assets/img/icon/feature_box_4.svg" alt="icon">
                                </div>
                                <div class="media-body">
                                    <h3 class="box-title text-ani"><a href="service-details.html">Serve On Table</a>
                                    </h3>
                                    <div class="text-ani">
                                        <p class="box-text">Indulge in a gourmet journey with a menu Our chefs use the
                                            finest ingredients.</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="feature-box">
                                <div class="box-shape">
                                    <img src="assets/img/shape/flower_7.png" alt="shape">
                                </div>
                                <div class="box-icon">
                                    <img src="assets/img/icon/feature_box_5.svg" alt="icon">
                                </div>
                                <div class="media-body">
                                    <h3 class="box-title text-ani"><a href="service-details.html">Dine-In Service</a>
                                    </h3>
                                    <div class="text-ani">
                                        <p class="box-text">Indulge in a gourmet journey with a menu Our chefs use the
                                            finest ingredients.</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="feature-box">
                                <div class="box-shape">
                                    <img src="assets/img/shape/flower_7.png" alt="shape">
                                </div>
                                <div class="box-icon">
                                    <img src="assets/img/icon/feature_box_6.svg" alt="icon">
                                </div>
                                <div class="media-body">
                                    <h3 class="box-title text-ani"><a href="service-details.html">Takeout & Delivery</a>
                                    </h3>
                                    <div class="text-ani">
                                        <p class="box-text">Indulge in a gourmet journey with a menu Our chefs use the
                                            finest ingredients.</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="feature-box">
                                <div class="box-shape">
                                    <img src="assets/img/shape/flower_7.png" alt="shape">
                                </div>
                                <div class="box-icon">
                                    <img src="assets/img/icon/feature_box_7.svg" alt="icon">
                                </div>
                                <div class="media-body">
                                    <h3 class="box-title text-ani"><a href="service-details.html">Catering</a></h3>
                                    <div class="text-ani">
                                        <p class="box-text">Indulge in a gourmet journey with a menu Our chefs use the
                                            finest ingredients.</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="feature-box">
                                <div class="box-shape">
                                    <img src="assets/img/shape/flower_7.png" alt="shape">
                                </div>
                                <div class="box-icon">
                                    <img src="assets/img/icon/feature_box_8.svg" alt="icon">
                                </div>
                                <div class="media-body">
                                    <h3 class="box-title text-ani"><a href="service-details.html">Private Dining</a>
                                    </h3>
                                    <div class="text-ani">
                                        <p class="box-text">Indulge in a gourmet journey with a menu Our chefs use the
                                            finest ingredients.</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="feature-box">
                                <div class="box-shape">
                                    <img src="assets/img/shape/flower_7.png" alt="shape">
                                </div>
                                <div class="box-icon">
                                    <img src="assets/img/icon/feature_box_9.svg" alt="icon">
                                </div>
                                <div class="media-body">
                                    <h3 class="box-title text-ani"><a href="service-details.html">Online Ordering</a>
                                    </h3>
                                    <div class="text-ani">
                                        <p class="box-text">Indulge in a gourmet journey with a menu Our chefs use the
                                            finest ingredients.</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="feature-box">
                                <div class="box-shape">
                                    <img src="assets/img/shape/flower_7.png" alt="shape">
                                </div>
                                <div class="box-icon">
                                    <img src="assets/img/icon/feature_box_10.svg" alt="icon">
                                </div>
                                <div class="media-body">
                                    <h3 class="box-title text-ani"><a href="service-details.html">Special Events</a>
                                    </h3>
                                    <div class="text-ani">
                                        <p class="box-text">Indulge in a gourmet journey with a menu Our chefs use the
                                            finest ingredients.</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="feature-box">
                                <div class="box-shape">
                                    <img src="assets/img/shape/flower_7.png" alt="shape">
                                </div>
                                <div class="box-icon">
                                    <img src="assets/img/icon/feature_box_11.svg" alt="icon">
                                </div>
                                <div class="media-body">
                                    <h3 class="box-title text-ani"><a href="service-details.html">Food Testing Event</a>
                                    </h3>
                                    <div class="text-ani">
                                        <p class="box-text">Indulge in a gourmet journey with a menu Our chefs use the
                                            finest ingredients.</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="feature-box">
                                <div class="box-shape">
                                    <img src="assets/img/shape/flower_7.png" alt="shape">
                                </div>
                                <div class="box-icon">
                                    <img src="assets/img/icon/feature_box_12.svg" alt="icon">
                                </div>
                                <div class="media-body">
                                    <h3 class="box-title text-ani"><a href="service-details.html">Food Donations</a>
                                    </h3>
                                    <div class="text-ani">
                                        <p class="box-text">Indulge in a gourmet journey with a menu Our chefs use the
                                            finest ingredients.</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </section>
            <!--==============================
Cta Area  
==============================-->
            <section class="space" data-bg-src="assets/img/bg/cta_bg_1.jpg">
                <div class="container z-index-common">
                    <div class="row justify-content-end">
                        <div class="col-xxl-6 col-xl-7 col-lg-6 col-md-8 text-center">
                            <div class="title-area mb-30">
                                <span class="sub-title2">We only bring you the best</span>
                                <h2 class="sec-title text-white">Creating Visual Masterpieces on Your Plate</h2>
                            </div>
                            <div class="text-ani">
                                <div class="btn-group justify-content-center">
                                    <a href="shop.html" class="th-btn style3">Get A Offer</a>
                                    <a href="contact.html" class="th-btn style-border border-three">Book A Table</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--==============================
Delivery Area  
==============================-->
            <div class="overflow-hidden space">
                <div class="container">
                    <div class="row align-items-center flex-row-reverse">
                        <div class="col-xl-7 mb-25 mb-xl-0">
                            <div class="img-box7">
                                <div class="shape1">
                                    <img class="flipX" src="assets/img/normal/delivery_2.png" alt="shape">
                                </div>
                                <div class="img1 flipY">
                                    <img src="assets/img/normal/delivery_1.png" alt="Why">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 text-center text-xl-start">
                            <div class="title-area mb-35">
                                <span class="sub-title3"><img src="assets/img/theme-img/title_icon2.svg" alt="Icon">Food Delivery</span>
                                <h2 class="sec-title">Where Good Food Meets Fast Delivery</h2>
                                <div class="text-ani">
                                    <p class="sec-text">Indulge in a gourmet journey with a menu that showcases a fusion
                                        of flavors. Our chefs use the finest ingredients to create dishes that are not
                                        just meals but unforgettable experiences.</p>
                                </div>
                            </div>
                            <div class="check-feature-wrap">
                                <div class="check-feature text-ani">
                                    <i class="fa-solid fa-badge-check"></i>
                                    Delivery In 30 Minutes
                                </div>
                                <div class="check-feature text-ani">
                                    <i class="fa-solid fa-badge-check"></i>
                                    Free Shipping $50.00
                                </div>
                                <div class="check-feature text-ani">
                                    <i class="fa-solid fa-badge-check"></i>
                                    Delivery On Doorstep
                                </div>
                                <div class="check-feature text-ani">
                                    <i class="fa-solid fa-badge-check"></i>
                                    On the Way Tracing
                                </div>
                            </div>
                            <div class="text-ani">
                                <a href="shop.html" class="th-btn style-border">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--==============================
Brand Area  
==============================-->
            <div class="space-bottom">
                <div class="container brand-container">
                    <div class="swiper th-slider" id="brandSlider1"
                         data-slider-options='{"breakpoints":{"0":{"slidesPerView":2},"576":{"slidesPerView":"2"},"768":{"slidesPerView":"3"},"992":{"slidesPerView":"4"},"1200":{"slidesPerView":"4"},"1300":{"slidesPerView":"5"},"1500":{"slidesPerView":"7"}}}'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="brand-box">
                                    <img src="assets/img/brand/brand_1_1.svg" alt="Brand Logo">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="brand-box">
                                    <img src="assets/img/brand/brand_1_2.svg" alt="Brand Logo">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="brand-box">
                                    <img src="assets/img/brand/brand_1_3.svg" alt="Brand Logo">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="brand-box">
                                    <img src="assets/img/brand/brand_1_4.svg" alt="Brand Logo">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="brand-box">
                                    <img src="assets/img/brand/brand_1_5.svg" alt="Brand Logo">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="brand-box">
                                    <img src="assets/img/brand/brand_1_6.svg" alt="Brand Logo">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="brand-box">
                                    <img src="assets/img/brand/brand_1_7.svg" alt="Brand Logo">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="brand-box">
                                    <img src="assets/img/brand/brand_1_1.svg" alt="Brand Logo">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="brand-box">
                                    <img src="assets/img/brand/brand_1_2.svg" alt="Brand Logo">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="brand-box">
                                    <img src="assets/img/brand/brand_1_3.svg" alt="Brand Logo">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="brand-box">
                                    <img src="assets/img/brand/brand_1_4.svg" alt="Brand Logo">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="brand-box">
                                    <img src="assets/img/brand/brand_1_5.svg" alt="Brand Logo">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="brand-box">
                                    <img src="assets/img/brand/brand_1_6.svg" alt="Brand Logo">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="brand-box">
                                    <img src="assets/img/brand/brand_1_7.svg" alt="Brand Logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            {% include 'footer.html' %}

            <!--********************************
			Code End  Here 
	******************************** -->

            <!-- Smooth scroller -->
        </div>
    </div>


    <!-- Scroll To Top -->
    <div class="scroll-top">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                  style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>
    </body>
{% endblock %}