{% load static %}

<footer class="footer-wrapper footer-layout1" data-bg-src="assets/img/bg/footer_bg_1.jpg">
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <div class="th-widget-about">
                            <div class="about-logo">
                                <a href="{% url 'home' %}"><img src="{% static 'img/logo-footer.svg' %}"
                                                                         alt="Restar"></a>
                            </div>
                            <p class="about-text">We believe that great food shouldn't break the bank.
                                That's why we offer affordable options without compromising on taste.</p>
                            <div class="th-social">
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Quick Links</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="team.html">Team Member</a></li>
                                <li><a href="about.html">Testimonials</a></li>
                                <li><a href="about.html">Company History</a></li>
                                <li><a href="contact.html">Need a Career?</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                            </ul>
                        </div>
                    </div>


                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Food Menu</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="shop.html">White Castle</a></li>
                                <li><a href="shop.html">Beef Sandwich</a></li>
                                <li><a href="shop.html">Cherry Limeade</a></li>
                                <li><a href="shop.html">Sandwich</a></li>
                                <li><a href="shop.html">Pumpkin Spice</a></li>
                            </ul>
                        </div>
                    </div>


                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Get In Touch</h3>
                        <div class="th-widget-contact">
                            <div class="info-box">
                                <h4 class="box-title">Address Location</h4>
                                <div class="box-content">
                                    <div class="box-icon">
                                        <i class="fas fa-location-dot"></i>
                                    </div>
                                    <p class="box-text">138 MacArthur Ave, USA</p>
                                </div>
                            </div>
                            <div class="info-box">
                                <h4 class="box-title">Phone Number</h4>
                                <div class="box-content">
                                    <div class="box-icon">
                                        <i class="fas fa-phone"></i>
                                    </div>
                                    <p class="box-text"><a href="tel:+16326543564">+(163)-2654-3564</a></p>
                                </div>
                            </div>
                            <div class="info-box">
                                <h4 class="box-title">Email address</h4>
                                <div class="box-content">
                                    <div class="box-icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <p class="box-text"><a href="mailto:info@restar.com">info@restar.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row gx-1 gy-2 align-items-center">
                <div class="col-md-7">
                    <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2024 <a
                            href="home-restaurant-shop.html">Restar</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-5 text-center text-md-end">
                    <div class="footer-links">
                        <ul>
                            <li><a href="about.html">Terms & Condition</a></li>
                            <li><a href="about.html">Privacy & Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>