<footer class="footer-wrapper footer-layout1" data-bg-src="assets/img/bg/footer_bg_2.jpg">
    <div class="container z-index-common">
        <div class="newsletter-wrap">
            <div class="newsletter-content">
                <h2 class="sec-title title-ani2 text-white m-0">Subscribe for daily update</h2>
            </div>
            <form class="newsletter-form">
                <div class="form-group">
                    <input class="form-control" type="email" placeholder="Email Address" required="">
                </div>
                <button type="submit" class="th-btn">Subscribe</button>
            </form>
        </div>
    </div>
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <div class="th-widget-about">
                            <div class="about-logo">
                                <a href="home-restaurant-shop.html"><img src="assets/img/logo-footer.svg"
                                                                         alt="Restar"></a>
                            </div>
                            <p class="about-text">We believe that great food shouldn't break the bank.
                                That's why we offer affordable options without compromising on taste.</p>
                            <div class="info-box">
                                <h4 class="box-title">Address Location</h4>
                                <div class="box-content">
                                    <div class="box-icon">
                                        <i class="fas fa-location-dot"></i>
                                    </div>
                                    <p class="box-text">138 MacArthur Ave, USA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Quick Links</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="team.html">Team Member</a></li>
                                <li><a href="about.html">Testimonials</a></li>
                                <li><a href="about.html">Company History</a></li>
                                <li><a href="contact.html">Need a Career?</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                            </ul>
                        </div>
                    </div>


                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Food Menu</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="shop.html">White Castle</a></li>
                                <li><a href="shop.html">Beef Sandwich</a></li>
                                <li><a href="shop.html">Cherry Limeade</a></li>
                                <li><a href="shop.html">Sandwich</a></li>
                                <li><a href="shop.html">Pumpkin Spice</a></li>
                            </ul>
                        </div>
                    </div>


                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_download footer-widget">
                        <h4 class="widget_title">Install App</h4>
                        <div class="th-download-widget">
                            <p class="footer-text">From App Store or Google Play</p>
                            <div class="btn-group">
                                <a href="https://www.apple.com/app-store/" class="download-btn">
                                    <img src="assets/img/icon/app_store_1.png" alt="icon">
                                </a>
                                <a href="https://play.google.com/store/apps" class="download-btn">
                                    <img src="assets/img/icon/app_store_2.png" alt="icon">
                                </a>
                            </div>
                            <p class="mt-30 mb-3">24/7 Support Center</p>
                            <h3 class="box-title"><a href="tel:+19524357106">+1 952-435-7106</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row gx-1 gy-2 align-items-center">
                <div class="col-md-7">
                    <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2024 <a
                            href="home-restaurant-shop.html">Restar</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-5 text-center text-md-end">
                    <div class="footer-links">
                        <ul>
                            <li><a href="about.html">Terms & Condition</a></li>
                            <li><a href="about.html">Privacy & Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>