{% load static %}
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a
        href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->


<!--********************************
       Code Start From Here 
******************************** -->

<!-- Scroll Smoother -->
<div class="has-smooth" id="has_smooth"></div>

<!--==============================
 Preloader
==============================-->
<div class="preloader ">
    <button class="th-btn preloaderCls">Cancel Preloader</button>
    <div class="preloader-inner">
        <div class="loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div><!--==============================
Product Lightbox
==============================-->
<div id="QuickView" class="white-popup mfp-hide">
    <div class="container bg-white">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-big-img transparent-img">
                    <div class="img"><img src="assets/img/product/product_1_5.png" alt="Product Image"></div>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="product-about">
                    <p class="price">$20.85
                        <del>$25.99</del>
                    </p>
                    <h2 class="product-title">Salmon Beef Stack</h2>
                    <div class="product-rating">
                        <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span
                                style="width:100%">Rated <strong
                                class="rating">5.00</strong> out of 5 based on <span class="rating">1</span> customer rating</span>
                        </div>
                        <a href="shop-details.html" class="woocommerce-review-link">(<span class="count">4</span>
                            customer reviews)</a>
                    </div>
                    <p class="text">The registration fee covers access to all conference sessions, workshops,
                        networking events, exhibition areas, and conference materials. Please refer to the
                        registration page for a detailed breakdown of inclusions. You can make payments through our
                        secure online registration.</p>
                    <div class="mt-2 link-inherit">
                        <p>
                            <strong class="text-title me-3">Availability:</strong>
                            <span class="stock in-stock"><i
                                    class="far fa-check-square me-2 ms-1"></i>In Stock</span>
                        </p>
                    </div>
                    <div class="actions">
                        <div class="quantity">
                            <input type="number" class="qty-input" step="1" min="1" max="100" name="quantity"
                                   value="1" title="Qty">
                            <button class="quantity-plus qty-btn"><i class="far fa-chevron-up"></i></button>
                            <button class="quantity-minus qty-btn"><i class="far fa-chevron-down"></i></button>
                        </div>
                        <button class="th-btn">Add to Cart</button>
                        <a href="wishlist.html" class="icon-btn"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="product_meta">
                        <span class="sku_wrapper">SKU: <span class="sku">Salmon-Beef-Stack</span></span>
                        <span class="posted_in">Category: <a href="shop.html">Dinner Food</a></span>
                        <span>Tags: <a href="shop.html">Lunch</a><a href="shop.html">Dinner</a><a
                                href="shop.html">Food</a></span>
                    </div>
                </div>
            </div>
        </div>
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
    </div>
</div><!--==============================
    Sidemenu
============================== -->
<div class="sidemenu-wrapper sidemenu-cart ">
    <div class="sidemenu-content">
        <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
        <div class="widget woocommerce widget_shopping_cart">
            <h3 class="widget_title">Shopping cart</h3>
            <div class="widget_shopping_cart_content">
                <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                    {% for item in cart %}
                        <li class="woocommerce-mini-cart-item mini_cart_item">
                            <a href="{{ item.product_obj.get_absolute_url }}" class="remove remove_from_cart_button"><i class="far fa-times"></i></a>
                            <a href="{{ item.product_obj.get_absolute_url }}"><img src="{{ item.product_obj.image.url }}" alt="Cart Image">{{ item.product_obj.title }}</a>
                            <span class="quantity">{{ item.quantity }} ×
                                    <span class="woocommerce-Price-amount amount">
                                        <span class="woocommerce-Price-currencySymbol"></span>{{ item.product_obj.price }}</span><span>T</span>
                            </span>
                        </li>
                    {% endfor %}
                    
                </ul>
                <p class="woocommerce-mini-cart__total total">
                    <strong>Subtotal:</strong>
                    <span class="woocommerce-Price-amount amount">
                            <span class="woocommerce-Price-currencySymbol">$</span>{{ cart.get_total_price }}</span><span>T</span>
                </p>
                <p class="woocommerce-mini-cart__buttons buttons">
                    <a href="{% url 'cart:cart_detail' %}" class="th-btn wc-forward">View cart</a>
                    <a href="checkout.html" class="th-btn checkout wc-forward">Checkout</a>
                </p>
            </div>
        </div>
    </div>
</div><!--==============================
    Sidemenu
============================== -->
<div class="sidemenu-wrapper sidemenu-info ">
    <div class="sidemenu-content">
        <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
        <div class="widget  ">
            <div class="th-widget-about">
                <div class="about-logo">
                    <a href="home-restaurant-shop.html"><img src="assets/img/logo.svg" alt="Restar"></a>
                </div>
                <p class="about-text">We provide specialized winterization services to safeguard your pool during
                    the off-season, and when spring arrives, we handle the thorough opening process.</p>
                <div class="th-social">
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <div class="widget  ">
            <h3 class="widget_title">Get In Touch</h3>
            <div class="th-widget-contact">
                <div class="info-box">
                    <h4 class="box-title">Address Location</h4>
                    <div class="box-content">
                        <div class="box-icon">
                            <i class="fas fa-location-dot"></i>
                        </div>
                        <p class="box-text">138 MacArthur Ave, USA</p>
                    </div>
                </div>
                <div class="info-box">
                    <h4 class="box-title">Phone Number</h4>
                    <div class="box-content">
                        <div class="box-icon">
                            <i class="fas fa-phone"></i>
                        </div>
                        <p class="box-text"><a href="tel:+16326543564">+(163)-2654-3564</a></p>
                    </div>
                </div>
                <div class="info-box">
                    <h4 class="box-title">Email address</h4>
                    <div class="box-content">
                        <div class="box-icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <p class="box-text"><a href="mailto:info@restar.com">info@restar.com</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget  ">
            <h3 class="widget_title">Newsletter</h3>
            <div class="newsletter-widget">
                <p class="footer-text">Subscribe to our newsletter and receive 15% discount from your order.</p>
                <form action="#" class="newsletter-form has-icon">
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="Enter email address" required="">
                    </div>
                    <button type="submit" class="icon-btn"><i class="fa-solid fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="popup-search-box d-none d-lg-block">
    <button class="searchClose"><i class="fal fa-times"></i></button>
    <form action="#">
        <input type="text" placeholder="What are you looking for?">
        <button type="submit"><i class="fal fa-search"></i></button>
    </form>
</div><!--==============================
    Mobile Menu
  ============================== -->
<div class="th-menu-wrapper">
    <div class="th-menu-area text-center">
        <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo">
            <a href="home-restaurant-shop.html"><img src="assets/img/logo.svg" alt="Restar"></a>
        </div>
        <div class="th-mobile-menu">
            <ul>
                <li class="menu-item-has-children">
                    <a href="home-restaurant-shop.html">Home</a>
                    <ul class="sub-menu">
                        <li><a href="home-restaurant-shop.html">Restaurant Shop</a></li>
                        <li><a href="home-fast-food.html">Home Fast Food</a></li>
                        <li><a href="home-restaurant.html">Home Restaurant</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="service.html">Service</a></li>
                        <li><a href="service-details.html">Service Details</a></li>
                        <li><a href="team.html">Chef</a></li>
                        <li><a href="team-details.html">Chef Details</a></li>
                        <li><a href="reservation.html">Reservation</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="error.html">Error Page</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Menus</a>
                    <ul class="sub-menu">
                        <li><a href="menu-one.html">Food Menu 1</a></li>
                        <li><a href="menu-two.html">Food Menu 2</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Shop</a>
                    <ul class="sub-menu">
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="shop-details.html">Shop Details</a></li>
                        <li><a href="cart.html">Cart Page</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Blog</a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</div><!--==============================
	Header Area
==============================-->

<header class="th-header header-layout3 ">
    <div class="sticky-wrapper">
        <!-- Main Menu Area -->
        <div class="menu-area">
            <div class="w-100">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <div class="header-logo">
                            <a href="{% url 'home' %}"><img src="{% static 'img/logo-white.svg' %}"
                                                            alt="Restar"></a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <nav class="main-menu d-none d-lg-inline-block">
                            <ul>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'home' %}">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'home' %}">Restaurant Shop</a></li>
                                        <li><a href="{% url 'home2' %}">Home Fast Food</a></li>
                                        <li><a href="{% url 'home3' %}">Home Restaurant</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'aboutus' %}">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'aboutus' %}">About Us</a></li>
                                        <li><a href="{% url 'service' %}">Service</a></li>
                                        <li><a href="{% url 'service_detail' %}">Service Details</a></li>
                                        <li><a href="{% url 'chef' %}">Chef</a></li>
                                        <li><a href="{% url 'chefs_detail' %}">Chef Details</a></li>
                                        <li><a href="{% url 'gallery' %}">Gallery</a></li>
                                        <li><a href="reservation.html">Reservation</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'sandwich_list' %}">Menus</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'pizza_list' %}">Food Menu 1</a></li>
                                        <li><a href="{% url 'sandwich_list' %}">Food Menu 2</a></li>
                                        <li><a href="{% url 'shop' %}">Shop</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'cart:cart_detail' %}">Cart</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'cart:cart_detail' %}">Cart Page</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'blog' %}">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'blog' %}">Blog</a></li>
                                        <li><a href="{% url 'blog_detail' %}">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="{% url 'contact' %}">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-auto">
                        <div class="header-button">
                            <form class="header-search">
                                <input type="text" placeholder="Enter Keyword">
                                <button type="submit"><i class="far fa-search"></i></button>
                            </form>
                            <button type="button" class="icon-btn sideMenuToggler">
                                <span class="badge">{{ cart|length }}</span>
                                <i class="far fa-cart-shopping"></i>
                            </button>
                            <div class="header-call">
                                <h3 class="box-title"><a href="tel:+09917303269"><span class="icon"></span>
                                    +0991-730-3269</a></h3>
                                <p class="box-text">Contact us for reservation</p>
                            </div>
                            <button type="button" class="square-btn sideMenuInfo">
                                <i class="fal fa-bars"></i>
                            </button>
                            <button type="button" class="th-menu-toggle d-block d-lg-none"><i
                                    class="far fa-bars"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
            {% if messages %}
            <div class="container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
</header>